<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.wehago.mapper.CarMapper">

    <insert id ="save" parameterType="com.douzone.wehago.domain.Car">
        INSERT INTO
            tb_cars
            (car_name,
             car_number,
             car_distance,
             car_year,
             car_image,
             car_explain,
             cop_seq,
             rsc_seq)
        VALUES
            (#{carName},
             #{carNumber},
             #{carDistance},
             #{carYear},
             #{carImage},
             #{carExplain},
             #{copSeq},
             #{rscSeq});
    </insert>

    <select id ="findAll" resultType="com.douzone.wehago.domain.Car">
        SELECT * FROM tb_cars ORDER BY car_created DESC
    </select>
    <select id ="findcarList"  resultType="com.douzone.wehago.domain.Car" parameterType="com.douzone.wehago.dto.reservation.ReservationDTO">
        SELECT * FROM tb_cars
        WHERE car_seq
                  not in(
            (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_end and rsv_end &lt; #{rsvEnd})
            union
            (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_start and rsv_end &lt; #{rsvEnd})
            union
            (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_start and rsv_start &lt; #{rsvEnd})
             union
            (select rsv_detail from tb_reservations where #{rsvStart} &gt; rsv_start and rsv_end &gt; #{rsvEnd}))

                                                        and cop_seq = ${copSeq} and car_state = true;
    </select>
    <select id="searchCar" parameterType="hashMap" resultType="com.douzone.wehago.domain.Car">
        SELECT * FROM tb_cars
        WHERE  ${columnName} LIKE CONCAT('%', #{searchString}, '%')
    </select>

    <select id = "findOne" resultType="com.douzone.wehago.domain.Car">
        SELECT
            car_seq,
            car_name,
            car_number,
            car_distance,
            car_year,
            car_explain,
            car_image
        FROM tb_cars WHERE car_seq = #{carSeq};
    </select>

    <update id="update" parameterType="com.douzone.wehago.domain.Car">
        UPDATE tb_cars
        SET
            car_name = #{carName},
            car_number = #{carNumber},
            car_distance = #{carDistance},
            car_year = #{carYear},
            car_explain = #{carExplain},
            car_image = #{carImage}
        WHERE car_seq = #{carSeq};
    </update>

    <update id="delete" parameterType="com.douzone.wehago.domain.Car">
        UPDATE tb_cars
        SET
            car_state = #{carState},
            car_updated = #{carUpdated}
        WHERE car_seq = #{carSeq}
    </update>
<!--    <delete id="delete" parameterType="Integer">-->
<!--        DELETE FROM tb_cars WHERE car_seq = #{carSeq};-->
<!--    </delete>-->

</mapper>