<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.wehago.mapper.CarMapper">

    <insert id ="save" parameterType="com.douzone.wehago.domain.Car">
        INSERT INTO tb_cars (car_name, car_number, car_distance, car_year, car_image, car_explain, cop_seq, rsc_seq)
        VALUES (#{carName}, #{carNumber}, #{carDistance}, #{carYear}, #{carImage}, #{carExplain}, #{copSeq}, #{rscSeq});
    </insert>

    <select id ="findAll" resultType="com.douzone.wehago.domain.Car">
        SELECT * FROM tb_cars
    </select>

    <select id = "findOne" resultType="com.douzone.wehago.domain.Car">
        SELECT
            car_seq,
            car_name,
            car_number,
            car_distance,
            car_year,
            car_explain,
            car_image
        FROM tb_cars WHERE car_seq = #{carSeq};
    </select>

    <update id="update" parameterType="com.douzone.wehago.domain.Car">
        UPDATE tb_cars
        SET
            car_name = #{carName},
            car_number = #{carNumber},
            car_distance = #{carDistance},
            car_year = #{carYear},
            car_explain = #{carExplain},
            car_image = #{carImage}
        WHERE car_seq = #{carSeq};
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM tb_cars WHERE car_seq = #{carSeq};
    </delete>

</mapper>