<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.wehago.mapper.CompanyMapper">
    <select id ="save" parameterType="com.douzone.wehago.domain.Company" resultType="com.douzone.wehago.dto.company.CompanyDTO">
        INSERT INTO tb_companys (cop_reg_num, cop_name) values (#{copRegNum},#{copName}) returning cop_seq as copSeq
    </select>

    <select id ="findAll" resultType="com.douzone.wehago.domain.Company">
        SELECT * FROM tb_companys WHERE cop_state = #{copState};
    </select>

    <select id ="findAllByCopSeq" resultType="com.douzone.wehago.domain.Company">
        SELECT * FROM tb_companys WHERE cop_seq = #{copSeq} and cop_state = true;
    </select>


    <select id = "findOne" resultType="com.douzone.wehago.domain.Company">
        SELECT * FROM tb_companys WHERE cop_seq = #{copSeq};
    </select>

    <update id="update" parameterType="com.douzone.wehago.domain.Company">
        UPDATE tb_companys SET cop_reg_num = #{copRegNum}, cop_name = #{copName}, cop_state = #{copState}, cop_updated = #{copUpdated}
        WHERE cop_seq = #{copSeq}
    </update>

    <update id="updateState" parameterType="com.douzone.wehago.domain.Company">
        UPDATE tb_companys SET cop_reg_num = #{copRegNum}, cop_name = #{copName}, cop_state = #{copState}, cop_updated = #{copUpdated}
        WHERE cop_seq = #{copSeq}
    </update>

<!--    <delete id="delete" parameterType="com.douzone.wehago.domain.Company">-->
<!--        DELETE FROM tb_companys WHERE cop_seq = #{copSeq}-->
<!--    </delete>-->

</mapper>