<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.wehago.mapper.DeviceMapper">

    <insert id="save" parameterType="com.douzone.wehago.domain.Device">
        INSERT INTO tb_devices (dvc_name, dvc_serial, dvc_image, dvc_buy, dvc_explain, cop_seq, rsc_seq)
        VALUES (#{dvcName}, #{dvcSerial}, #{dvcImage}, #{dvcBuy}, #{dvcExplain}, #{copSeq}, #{rscSeq})
    </insert>

    <select id ="findAll" resultType="com.douzone.wehago.domain.Device">
        SELECT * FROM tb_devices ORDER BY dvc_created DESC ;
    </select>

    <select id="findOne" resultType="com.douzone.wehago.domain.Device">
        SELECT
            dvc_name,
            dvc_serial,
            dvc_image,
            dvc_buy,
            dvc_explain
        FROM tb_devices WHERE dvc_seq = #{dvcSeq}
    </select>

    <update id="update" parameterType="com.douzone.wehago.domain.Device">
       UPDATE tb_devices
        SET dvc_name = #{dvcName},
            dvc_serial = #{dvcSerial},
            dvc_buy = #{dvcBuy},
            dvc_explain = #{dvcExplain},
            dvc_image = #{dvcImage}
        WHERE dvc_seq = #{dvcSeq}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM tb_devices WHERE dvc_seq = #{dvcSeq}
    </delete>
</mapper>