<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.wehago.mapper.DeviceMapper">

    <insert id="save" parameterType="com.douzone.wehago.domain.Device">
        INSERT INTO tb_devices (dvc_name, dvc_serial, dvc_image, dvc_buy, dvc_explain, cop_seq, rsc_seq)
        VALUES (#{dvcName}, #{dvcSerial}, #{dvcImage}, #{dvcBuy}, #{dvcExplain}, #{copSeq}, #{rscSeq})
    </insert>

    <select id ="finddeviceList"  resultType="com.douzone.wehago.domain.Device" parameterType="com.douzone.wehago.dto.reservation.ReservationDTO">
        SELECT * FROM tb_devices
        WHERE dvc_seq
            not in(
                  (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_end and rsv_end &lt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_start and rsv_end &lt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_start and rsv_start &lt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} &gt; rsv_start and rsv_end &gt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} = rsv_start and rsv_end = #{rsvEnd}))

          and cop_seq = ${copSeq} and dvc_state = true;
    </select>

    <select id ="findAll" resultType="com.douzone.wehago.domain.Device">
        SELECT * FROM tb_devices
        WHERE dvc_state = true
        ORDER BY dvc_created DESC
        LIMIT 5 OFFSET 0
    </select>

    <select id="searchDevice" parameterType="hashMap" resultType="com.douzone.wehago.domain.Device">
        SELECT * FROM tb_devices
        WHERE ${columnName}
        LIKE CONCAT('%', #{searchString}, '%')
    </select>

    <select id="findOne" resultType="com.douzone.wehago.domain.Device">
        SELECT
            dvc_name,
            dvc_serial,
            dvc_image,
            dvc_buy,
            dvc_explain
        FROM tb_devices
        WHERE dvc_seq = #{dvcSeq}
    </select>

    <update id="update" parameterType="com.douzone.wehago.domain.Device">
       UPDATE tb_devices
        SET dvc_name = #{dvcName},
            dvc_serial = #{dvcSerial},
            dvc_buy = #{dvcBuy},
            dvc_explain = #{dvcExplain},
            dvc_image = #{dvcImage}
        WHERE dvc_seq = #{dvcSeq}
    </update>

    <select id="delete" parameterType="com.douzone.wehago.domain.Device" resultType="com.douzone.wehago.domain.Device">
        UPDATE tb_devices
        SET
            dvc_state = #{dvcState},
            dvc_updated = #{dvcUpdated}
        WHERE dvc_seq = #{dvcSeq}
        RETURNING dvc_seq as dvcSeq
    </select>
</mapper>