<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.wehago.mapper.FacilityMapper">

    <insert id ="save" parameterType="com.douzone.wehago.domain.Facility">
        INSERT INTO tb_cars (car_name, car_number, car_distance, car_year, car_explan)
        VALUES (#{carName}, #{carNumber}, #{carDistance}, #{carYear}, #{carExplan});
    </insert>

    <select id ="findAll" resultType="com.douzone.wehago.domain.Facility">
        SELECT * FROM tb_cars
    </select>

    <select id = "findOne" resultType="com.douzone.wehago.dto.FacilityDTO">
        select car_seq, car_name, car_number, car_distance, car_year, car_explan, car_image
        from tb_cars
        where car_Number = #{carNumber};
    </select>

    <update id="update" parameterType="com.douzone.wehago.dto.FacilityDTO">
        update tb_cars set car_seq = #{carSeq}, car_name = #{carName}, car_number = #{carNumber}, car_Distance = #{carDistance},
                           car_year = #{carYear}, car_image = #{carImage}, car_Explan = #{carExplan};
    </update>

    <delete id="delete" parameterType="String">
        delete from tb_cars where car_number = #{carNumber};
    </delete>

</mapper>