<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douzone.wehago.mapper.SpaceMapper">

    <insert id ="save" parameterType="com.douzone.wehago.domain.Space">
        INSERT INTO
            tb_spaces
            (spc_name,
             spc_cap,
             spc_image,
             spc_explain,
             cop_seq,
             rsc_seq)
        VALUES
            (#{spcName},
             #{spcCap},
             #{spcImage},
             #{spcExplain},
             #{copSeq},
             #{rscSeq});
    </insert>

    <select id ="findspaceList"  resultType="com.douzone.wehago.domain.Space" parameterType="com.douzone.wehago.dto.reservation.ReservationDTO">
        SELECT * FROM tb_spaces
        WHERE spc_seq
            not in(
                  (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_end and rsv_end &lt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_start and rsv_end &lt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} &lt; rsv_start and rsv_start &lt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} &gt; rsv_start and rsv_end &gt; #{rsvEnd})
                  union
                  (select rsv_detail from tb_reservations where #{rsvStart} = rsv_start and rsv_end = #{rsvEnd}))

          and cop_seq = ${copSeq} and spc_state = true;
    </select>

    <select id ="findAll" resultType="com.douzone.wehago.domain.Space">
        SELECT * FROM tb_spaces
        WHERE spc_state = true
        ORDER BY spc_created DESC
        LIMIT 5 OFFSET 0
    </select>

    <select id = "findOne" resultType="com.douzone.wehago.domain.Space">
        SELECT
            spc_seq,
            spc_name,
            spc_cap,
            spc_image,
            spc_explain
        FROM tb_spaces WHERE spc_seq = #{spcSeq};
    </select>

    <select id="searchSpace" parameterType="hashMap" resultType="com.douzone.wehago.domain.Space">
        SELECT * FROM tb_spaces
        WHERE ${columnName}
        LIKE CONCAT('%', #{searchString}, '%')
    </select>

    <update id="update" parameterType="com.douzone.wehago.domain.Space">
        UPDATE tb_spaces
        SET
            spc_name = #{spcName},
            spc_cap = #{spcCap},
            spc_image = #{spcImage},
            spc_explain = #{spcExplain}
        WHERE spc_seq = #{spcSeq};
    </update>

    <select id="delete" parameterType="com.douzone.wehago.domain.Space" resultType="com.douzone.wehago.domain.Space">
        UPDATE tb_spaces
        SET
            spc_state = #{spcState},
            spc_updated = #{spcUpdated}
        WHERE spc_seq = #{spcSeq}
        RETURNING spc_seq as spcSeq
    </select>

<!--    <delete id="delete" parameterType="Integer">-->
<!--        DELETE FROM tb_spaces WHERE spc_seq = #{spcSeq};-->
<!--    </delete>-->

</mapper>